# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*$py.class
*.pyc

# PyBuilder
target/
# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

dist/
build/
*.egg-info

.idea/
.DS_Store